* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background:rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  width: 90%;
  max-width: 400px;

  padding: 20px;
  border-radius: 16px;

  margin: 10px auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-3px);
}
.card h1 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.card p {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

.card input,
.card select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;

  border: 2px solid #e1e5e9;
  border-radius: 10px;
  outline: none;

  transition: 0.25s;
  background: #f9f9f9;
}

.card input:focus,
.card select:focus {
  border-color: #667eea;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.15);
}

button {
  width: 100%;
  padding: 13px;
  margin-top: 12px;

  border: none;
  border-radius: 10px;
  font-size: 16px;

  cursor: pointer;
  transition: 0.25s;
}

.login {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  font-weight: 500;
}

.login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(71, 63, 235, 0.4);
}

/* button:hover {
  transform: scale(1.03);
  opacity: 0.95;
} */

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.switch-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: 600;
}

.switch-text span:hover {
  text-decoration: underline;
}

#status {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}
#reader {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
input, select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
}

@media (max-width: 600px) {

  .card {
    padding: 15px;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
  }

  input, button {
    padding: 10px;
    font-size: 14px;
  }

}