* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.card {
  background: #ffffff;
  padding: 40px;
  padding-top: 70px;
  padding-bottom: 0px;
  border-radius: 20px;
  width: 350px;
  max-width: 90%;
  height: 95vh;           
  display: flex;             
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05);
}

.card h1 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.card p {
  color: #666;
  margin-bottom: 25px;
  font-size: 14px;
}

.card input,
.card select {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 2px solid #e1e5e9;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  background: #f9f9f9;
}

.card input:focus,
.card select:focus {
  border-color: #667eea;
  background: #ffffff;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
} 

.login {
  background: #667eea;
  color: white;
}
.switch-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.switch-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: 600;
}

.switch-text span:hover {
  text-decoration: underline;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#status {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

 /* screen fix */
@media (max-width: 400px) {
  .card {
    padding: 25px;
  }
}