* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 Card */
.card {
  width: 350px;
  max-height: 80vh;   /* ✅ LIMIT HEIGHT */
  padding: 25px;      /* ✅ REDUCED */
  border-radius: 16px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  overflow-y: auto;   /* ✅ SCROLL IF NEEDED */
}

/* 🔥 Heading */
.card h1 {
  margin-bottom: 10px;
}

/* 🔥 Inputs */
input, select {
  width: 100%;
  padding: 10px;      /* reduced */
  margin: 8px 0;      /* reduced spacing */
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* 🔥 Button */
button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.login {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
  font-weight: 500;
}

.login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(71, 63, 235, 0.4);
}

/* button:hover {
  transform: scale(1.03);
  opacity: 0.95;
} */

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.switch-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: 600;
}

.switch-text span:hover {
  text-decoration: underline;
}

#status {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}
#reader {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
input, select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
}

@media (max-width: 600px) {

  .card {
    padding: 15px;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
  }

  input, button {
    padding: 10px;
    font-size: 14px;
  }

}